#cadastro, #login {
    border: 2px solid #4f46e5;
    background-color: #f0f9ff;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
}

#cadastro h2, #login h2 {
    font-size: 16px;
    margin-bottom: 15px;
    color: #374151;
}

#cadastro input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 2px solid #93c5fd;
    border-radius: 6px;
    background-color: #e0f2fe;
    font-size: 14px;
    box-sizing: border-box; 
}

#login input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 2px solid #93c5fd;
    border-radius: 6px;
    background-color: #e0f2fe;
    font-size: 14px;
    box-sizing: border-box; 

}

#Criar, #Entrar {
    width: 200px;
    padding: 10px;
    border: 2px solid #93c5fd;
    border-radius: 6px;
    background-color: #e0f2fe;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    display: block;
    margin: 0 auto;
}

#Criar:hover, #Entrar:hover {
    background-color: #a8ace9;
}
.oculto {
    display: none;
}