h1, h2 {
    color: aqua;
    background-color: black;
    font-size: 50px;
    text-align: center;
    border: 5px rebeccapurple solid;
    padding: 2px;
}

#cadastro, #login {
    color: black;
    font-size: 20px;
    width: 100px;
    border: 2px blue solid;
}
